#sortingContainer {
    display: grid;
    grid-template-columns: [firstCol] 25% [secondCol]  auto [thirdCol] 25% [fourthCol];
    grid-template-rows: [firstRow] 40px [secondRow] 50px [thirdRow] auto [fourthRow] 50px [fifthRow];
}

#btnContainer {
    grid-column-start: secondCol;
    grid-column-end: thirdCol;
    grid-row-start: secondRow;
    grid-row-start: thirdRow;
}

#arrayInput {
    grid-column-start: firstCol;
    grid-column-end: secondCol;

    grid-row-start: firstRow;
    grid-row-end: secondRow;
}

.item {
    background: blue;
    border: 1pt solid black;
    width: 10px;
    transition: 0.1 all ease;
}

#array {
    grid-column-start: firstCol;
    grid-column-end: fourthCol;
    grid-row-start: thirdRow;
    grid-row-end: fourthRow;
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    width: 100%;
    height: 500px;
    justify-content: center;
    transition: 2s all ease;
}